@font-face {
    font-family: 'LuckiestGuy-Regular.ttf';
    src: url(./assets/img/5.Font/LuckiestGuy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font-family: 'LuckiestGuy-Regular.ttf';
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/website_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    color: white;
}

.game-container {
    position: relative;
    width: 720px;
    max-width: 100%;
}

canvas {
    background-color: black;
    width: 100%;
    height: auto;
    display: block;
}

#start_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
        #title {
        display: none;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}

.d_none {
    display: none !important;
}